/* Color Configs */

/* Text Colors */
$default: rgba(64, 64, 64, 1);
$description: rgba(82, 82, 82, 1);

/* Palette */
$amaranth: rgba(220, 67, 83, 1);
$atomicTangerine: rgb(246, 153, 92, 1);
$airForceBlue: rgb(81, 130, 155, 1);
$powderBlue: rgba(167, 185, 200, 1);
$parchment: rgba(242, 235, 207, 1);
$platinum: rgba(230, 230, 230, 1);
$ghostWhite: rgba(248, 248, 255, 1);
