/* Import color configs (./_variables/colors.scss) */
@import '@/app/_variables/colors';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: 70vh;

  gap: 4em;

  padding: 2em;

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;

    width: 40%;

    text-align: center;

    h1 {
      padding: 1em;
    }

    .border {
      width: 50%;

      margin: 2em;

      border-top: 4px solid;
      border-image: linear-gradient(
          to right,
          $airForceBlue 25%,
          $atomicTangerine 25%,
          $atomicTangerine 50%,
          $powderBlue 50%,
          $powderBlue 75%,
          $amaranth 75%
        )
        4;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .main {
    flex-direction: column-reverse;
    gap: 1em;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
    }
  }
}
